.title {
  margin: 0;
  font-family: "Crimson Text", serif, sans-serif;
  font-size: 22px;
  color: slategray;
}

#navHeader, #navList {
  display: flex;
}
#navHeader li, #navList li {
  padding: 7px;
  color: lightgray;
  font-weight: 600;
  font-size: 15px;
}
#navHeader #navigation h1, #navList #navigation h1 {
  font-size: 47px;
}

.navigation-list {
  padding-top: 3rem;
}

#navList {
  padding-top: 4.89rem;
}

#navList a {
  text-decoration: none;
}

#main-image {
  width: 380px;
  border-radius: 50%;
}

.main-section, #mainLink {
  display: flex;
}

.main-section {
  padding-top: 2.5rem;
}
.main-section h1 {
  font-size: 70px;
}

#about-me {
  font-size: 37px;
}

.mainFlex {
  padding: 12px;
}

.resumeList {
  margin: 0;
  font-size: 16px;
  padding: 2.5rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex: 1 1 24px;
  margin: 12px;
}

.resumeLink {
  text-align: center;
  text-decoration: none;
  color: white;
}

#resumeP {
  background-color: cadetblue;
}

#workP {
  background-color: darkorchid;
}

#skillsP {
  background-color: coral;
}

#resume-section {
  display: flex;
}

#resume-ex {
  /*background-color: aqua;*/
  flex: 1 1 550px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
}

#skill-language {
  /*background-color: blueviolet;*/
  flex: 1 1 250px;
}

#resumeInfo {
  background-color: cadetblue;
  grid-column: 1;
}

#work-ex {
  background-color: darkorchid;
}

#education {
  background-color: coral;
}

#all-education {
  grid-column: 2/3;
}

footer {
  margin: 0;
  background-color: mediumturquoise;
  height: 78%;
  width: 100%;
}
footer ul {
  display: flex;
}
footer .footer-list {
  padding: 7px;
  flex: 1 1 auto;
}
footer .footer-list a {
  text-decoration: none;
}
footer #made-by {
  text-align: center;
}

#project-one {
  background-color: cadetblue;
}

#project-two {
  background-color: darkorchid;
}

#project-three {
  background-color: coral;
}

#project-four {
  background-color: cornflowerblue;
}

#project-five {
  background-color: darkolivegreen;
}

#project-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}
#project-section h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 75px;
  margin: 0;
  padding-top: 120px;
}
#project-section .project-image-links {
  grid-column: 1/2;
}
#project-section #second-project-imageL {
  grid-row: 3;
}
#project-section #third-project-imageL {
  grid-row: 4;
}
#project-section #fourth-project-imageL {
  grid-row: 5;
}
#project-section #fifth-project-imageL {
  grid-row: 6;
}
#project-section .right-sideP {
  grid-column: 2;
}
#project-section #p2 {
  grid-row: 3;
}
#project-section #p3 {
  grid-row: 4;
}
#project-section #p4 {
  grid-row: 5;
}
#project-section #p5 {
  grid-row: 6;
}
#project-section .project-image {
  width: 500px;
}

body {
  margin: 0;
  padding: 0;
  background-color: mintcream;
}

.content-wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.content-wrapper ul {
  list-style-type: none;
}/*# sourceMappingURL=index.css.map */