@use "./nav_style";
@use "./main";
@use "./footer";
@use "./resume";

body {
  margin: 0;
  padding: 0;
  background-color: mintcream;
}

.content-wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;

  ul {
    list-style-type: none;
  }

}

 





